# US - Baby Names

### Introduction:

We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014


### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv).

### Step 3. Assign it to a variable called baby_names.

In [9]:
url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv'

babies = pd.read_csv(url, sep=',')

### Step 4. See the first 10 entries

In [5]:
babies.head(10)

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

### Step 5. Delete the column 'Unnamed: 0' and 'Id'

In [10]:
babies = babies.drop(columns=["Unnamed: 0", "Id"])
babies.head()

      Name  Year Gender State  Count
0     Emma  2004      F    AK     62
1  Madison  2004      F    AK     48
2   Hannah  2004      F    AK     46
3    Grace  2004      F    AK     44
4    Emily  2004      F    AK     41

### Step 6. Is there more male or female names in the dataset?

In [11]:
babies['Gender'].value_counts()

F    558846
M    457549
Name: Gender, dtype: int64

### Step 7. Group the dataset by name and assign to names

In [13]:
del babies['Year']

names = babies.groupby('Name').sum()
names.head()

         Count
Name
Aaban       12
Aadan       23
Aadarsh      5
Aaden     3426
Aadhav       6

### Step 8. How many different names exist in the dataset?

In [14]:
names.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17632 entries, Aaban to Zyriah
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Count   17632 non-null  int64
dtypes: int64(1)
memory usage: 275.5+ KB

### Step 9. What is the name with most occurrences?

In [25]:
names_sorted = names.sort_values('Count', ascending = False)
names_sorted.head()
names_sorted.Count.idxmax()

'Jacob'

### Step 10. How many different names have the least occurrences?

In [26]:
names_sorted.Count.tail()

Name
Eniola        5
Atlantis      5
Marci         5
Simarpreet    5
Nita          5
Name: Count, dtype: int64

In [31]:
len(names[names.Count == names.Count.min()])

2578

### Step 11. What is the median name occurrence?

In [32]:
names.Count.median()

49.0

In [33]:
names[names.Count == names.Count.median()]

         Count
Name
Aishani     49
Alara       49
Alysse      49
Ameir       49
Anely       49
...        ...
Sriram      49
Trinton     49
Vita        49
Yoni        49
Zuleima     49

[66 rows x 1 columns]

### Step 12. What is the standard deviation of names?

In [34]:
names.Count.std()

11006.06946789057

### Step 13. Get a summary with the mean, min, max, std and quartiles.

In [35]:
names.describe()

               Count
count   17632.000000
mean     2008.932169
std     11006.069468
min         5.000000
25%        11.000000
50%        49.000000
75%       337.000000
max    242874.000000

In [41]:
names.loc['Autumn']

Count    41112
Name: Autumn, dtype: int64

In [42]:
names.loc['Qutayba']

KeyError: 'Qutayba'

In [43]:
names.loc['Mandela']

KeyError: 'Mandela'