# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Create a data dictionary that looks like the DataFrame below

In [3]:
data = {'name': ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
        'evolution': ['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod'],
        'hp':[45, 39, 44, 45],
        'pokedex': ['yes', 'no', 'yes', 'no'],
        'type': ['grass', 'fire', 'water', 'bug']}

### Step 3. Assign it to a variable called pokemon

In [4]:
pokemon = pd.DataFrame(data)
pokemon.head()

         name   evolution  hp pokedex   type
0   Bulbasaur     Ivysaur  45     yes  grass
1  Charmander  Charmeleon  39      no   fire
2    Squirtle   Wartortle  44     yes  water
3    Caterpie     Metapod  45      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [6]:
pokemon = pokemon[['name', 'type', 'hp', 'evolution', 'pokedex']]
pokemon.head()

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [10]:
pokemon['place'] = ['New Orleans', 'Gainseville', 'Stony Brook', 'Denver']
pokemon.head()

<ipython-input-10-c4110841b67f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pokemon['place'] = ['New Orleans', 'Gainseville', 'Stony Brook', 'Denver']

         name   type  hp   evolution pokedex        place
0   Bulbasaur  grass  45     Ivysaur     yes  New Orleans
1  Charmander   fire  39  Charmeleon      no  Gainseville
2    Squirtle  water  44   Wartortle     yes  Stony Brook
3    Caterpie    bug  45     Metapod      no       Denver

### Step 6. Present the type of each column

In [11]:
pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       4 non-null      object
 1   type       4 non-null      object
 2   hp         4 non-null      int64
 3   evolution  4 non-null      object
 4   pokedex    4 non-null      object
 5   place      4 non-null      object
dtypes: int64(1), object(5)
memory usage: 320.0+ bytes

### BONUS: Create your own question and answer it.
#### Rank the pokemon by their hp

In [13]:
pokemon_sorted = pokemon.sort_values('hp', ascending = True)
pokemon_sorted

         name   type  hp   evolution pokedex        place
1  Charmander   fire  39  Charmeleon      no  Gainseville
2    Squirtle  water  44   Wartortle     yes  Stony Brook
0   Bulbasaur  grass  45     Ivysaur     yes  New Orleans
3    Caterpie    bug  45     Metapod      no       Denver